/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

body{
    width: 50%;
    margin: auto
}
.txt-chiaro{
    color: rgba(0, 0, 0, 0.507);
}
/* LOGO E NAV */
header{
    width: 100%;
    margin-bottom: 20px;
}
.cont-logo{
    border-right: solid rgba(0, 0, 0, 0.288) 1px;
    width: 250px;
}
.logo{
    height: 100px;
}
.cont-menu{
    margin-top: 30px;
}
.menu-principale li{
    display: inline-block;
}
.menu-principale li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
    display: block;
    padding: 10px;
    font-size: 1.5em;
}
.menu-principale li a:hover{
    background-color:rgba(0, 0, 0, 0.377);
    color: aliceblue;
}
/* LOGO E NAV */

/* PRIMA SEZIONE */
.sezione-1{
    background-color: orange;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 30px;
    position: relative;
}
.opacità{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 30px;
    position: absolute;
}
.titolo-sez1{
    width: 60%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
}
h3{
    font-size: 1.8em;
}
/* PRIMA SEZIONE */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.sezione-2{
    width: 100%;
}


/* HEAD SECONDA SEZIONE */
.intestazione{
    width: 100%;
}
.titolo-int{
    padding: 20px 0;   
}
h2{
    font-size: 2em;
}
.sottotitolo-2{
    color: rgba(0, 0, 0, 0.411);
}
/* HEAD SECONDA SEZIONE */

/* COLONNA SINISTRA */
.row{
    height: 100%;
    width: 100%;
    margin: 20px 0;
}
.colonna-sx{
    width: 20%;
    float: left;
}
.img-sx{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
    border-radius: 30px;
}
.opacita-2{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.192);
}

h4{
    padding: 20px 0;
}
span p{
    margin-top: 20px;
    text-align: justify;
}
/* COLONNA SINISTRA */

/* COLONNA CENTRALE */
.colonna-center{
    height: 100%;
    width: calc(60% - 40px);
    background-color: aqua;
    float: left;
    margin-bottom: 20px;
    margin: 0 20px;
    border-radius: 30px;
}
.img-cent{
    background-image: url(../img/banner-2.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* COLONNA CENTRALE */

/* COLONNA DESTRA */
.colonna-dx{
    height: 100%;
    width: 20%;
    float: right;
}
footer{
    height: 100px;
    width: 100%;
    background-color: purple;
    margin-top: 20px;
}
.img-dx{
    background-image:url(../img/img-3.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* COLONNA DESTRA */